html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  font-family: 'Tahoma', sans-serif; /* Tahoma as the fall-back font */
  color: #333;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  text-align: center;
}

h1 {
  margin: 20px;
  padding: 20px;
}

h2 {
  margin: 20px;
  padding: 20px;
}

h3 {
  margin: 20px;
  padding: 20px;
}

h4 {
  margin: 20px;
  padding: 20px;
}